.box {
  padding: 25px 15px;
  display: flex;
  width: 100%;
  margin: 20px 0;
  cursor: pointer;
  border-radius: 10px;
  align-items: center;
}
.item1 {
  width: calc(100% / 0.80);
}
.img_box {
  padding: 1.2rem;
  border: 2px solid var(--main-text-color);
  border-radius: 5px;
}
.item2 {
  width: calc(100% / 0.20);
  padding-left: 25px;
}
.text {
  font-size: 1.5rem;
  margin: 0 0 10px 0;
}
.box_active {
  background-color: var(--main-bg-color);
  color: var(--white-text-color);
}


.box_active .img_box{
  border-color: var(--white-text-color);
}