.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.img_box {
  height: 50px;
  width: 50px;
}

.secondary_text {
  color: var(--secondary-text-color);
  font-size: 1.375rem;
}

.title {
  font-size: 2rem;
  font-weight: 600;
}

@media screen and (max-width: 1200px) {
  .img_box {
    margin: auto;
  }
}


@media screen and (max-width: 992px) {
  .img_box {
    margin: auto;
  }
  .secondary_text {
    font-size: 1.75rem;
  }
}
